.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../../assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0B0F1A;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 19%;
  padding-right: 10%;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  color: white;
}

p {
  margin: 0;
}

.container_intro {
  text-align: left;
}

.container_intro p:nth-child(1) {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container_intro p:nth-child(2) {
  font-size: 150px;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin: 24px 0;
}

.container_intro p:nth-child(3) {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  max-width: 444px;
  line-height: 32px;
}

.explore {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
  text-decoration: none;
}
.exploreGrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: all 0.4s;
}
.exploreGrow:hover {
  transform: scale(150%);
}
.explore_text {
  font-family: 'Bellefair', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #000;
}
@media (min-height: 900px) {
  .container{
    padding-top: 387px;
  }
  .explore {
    height: 274px;
    width: 274px;
  }
  .exploreGrow {
    height: 274px;
    width: 274px;
  }
  .container_intro p:nth-child(2) {
    margin: 24px 0 57px 0;
  }
}
@media (min-height: 700px) {
  .container{
    padding-top: 300px;
  }}
@media (max-height: 700px) {
  .container{
    padding-top: 200px;
  }}
@media (max-width: 1029px) {
  .container {
    align-items: center;
    justify-content: center;
  }
  .explore{
    margin-top: 180px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    background-image: url('../../assets/home/background-home-tablet.jpg ');
  }
  .container_intro {
    text-align: center;
  }
  .container_intro p:nth-child(1) {
    font-size: 16px;
  }

  .container_intro p:nth-child(2) {
    font-size: 80px;
  }

  .container_intro p:nth-child(3) {
    font-size: 16px;
  }
  .explore {
    width: 180px;
    height: 180px;
    margin-top: 50px;
  }
  .exploreGrow {
    width: 150px;
    height: 150px;
  }
  .exploreGrow:hover {
    transform: scale(0%);
  }
  .explore_text {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .wrapper {
    background-image: url('../../assets/home/background-home-mobile.jpg ');
  }
  .explore {
    height: 150px;
    width: 150px;
  }
}
