.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  background-color: #0B0F1A;
}

.container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  color: white;
}

.label {
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
}

.label span {
  color: #4e5058;
  margin-right: 28px;
}

.containerTech {
  display: flex;
  height: 400px;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: white;
}

.techInfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: 50%;
}
.techInfo p:nth-child(1) {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 16px;
}
.techInfo p:nth-child(2) {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 56px;
  margin: 15px 0 27px 0;
}
.techInfo p:nth-child(3) {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  text-transform: none;
  min-height: 88px;
}
.imgContainer {
  max-height: fit-content;
  height: 100%;
}
.techImg {
  height: 100%;
  width: 100%;
}

.dotsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.dot {
  height: 70px;
  width: 70px;
  display: flex;
  font-size: 32px;
  font-family: 'Bellefair', serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #131520;
  transition: all 0.4s;
  border: 1px solid #86878c;
}
.dot:hover {
  border-color: #fff;
}
.dotActive {
  background-color: #fff;
  color: #0b0d17;
}
@media (max-width: 1100px) {
  .container {
    padding-left: 45px;
  }
}
@media (max-width: 810px) {
  .wrapper {
    background-image: url('../../assets/technology/background-technology-tablet.jpg');
  }
  .container {
    padding-left: 0;
  }
  .containerTech {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 0;
    flex-direction: column-reverse;
  }
  .techInfo {
    padding-top: 40px;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    width: 80%;
    padding-bottom: 40px;
  }
  .dotsContainer {
    width: 50%;
    margin-right: 0;
    justify-content: space-between;
    flex-direction: row;
  }
  .dot {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
  .techInfo p:nth-child(1) {
    font-size: 27px;
  }
  .techInfo p:nth-child(2) {
    font-size: 36px;
  }
  .techInfo p:nth-child(3) {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .dot {
    height: 25px;
    width: 25px;
    font-size: 12px;
  }
  .dotsContainer {
    width:40%;
  }
  .imgContainer{
    height: 170px;
  }
  .techInfo p:nth-child(1) {
    font-size: 14px;
  }
  .techInfo p:nth-child(2) {
    font-size: 20px;
  }
  .techInfo p:nth-child(3) {
    font-size: 14px;
  }
}
